.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.list-left {
  display: flex;
  min-width: 200px;
}

.band-icon {
  width: 10vw;
  margin-right: 10vw;
  font-size: 20px;
}

.list-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
}


.logout {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}

.login {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-size: 20px;
}

.sign-up {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
}