<header class='top-page-header'>
  
  <div class='nav'>
    <ul class='lists-left'>
      
    </ul>
    <ul class='lists-right'>
      

        
        <%#<li><%= link_to 'ログアウト', "#", class: "logout" %></li> 
      
        <li><%= link_to 'ログイン', "#", class: "login" %></li>
        <li><%= link_to '新規登録', "#", class: "sign-up" %></li>
      
      
    </ul>
  </div>
</header>