.search-form {
  text-align: center;
  padding-top: 32px;
}

.search-form .search-input {
  width: 30%;
  margin-right: 10px;
}

.search-form .search-btn {
  width: 10%;
}




.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.genre-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.area-list {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
}

.musical-instrument-list {
  text-decoration: none;
  color: #333333;
}

.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}